@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* primary colors */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    /* --Green-hover: hsl(154, 73%, 55%); */

    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Shadow:hsla(249, 10%, 26%, 0.207);
    --primary-font: "Poppins", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--primary-font);
    
}

.bg{
    height: 100vh;
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    gap: 10px;
    /* padding-left: 10%;
    padding-right: 10%;
    gap: 2%; */
    /* border: 6px solid white; */

}


.slogan {
    font-family: var(--primary-font);
    color: white;
    width: 530px;
    /* width: 40%; */
    /* width: 720px;
    height: 250px; */
    /* margin-left: 10%;
    /* margin-right: 0; */
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* border: 2px solid white; */
}

.slogan h1 {
   
    font-size: 3rem;

    /* border: 1px solid white; */
}

.slogan p {
    font-size: 1rem;
   
}

.form {
    /* width: 40%; */
    /* width: 720px;
    height: 100%; */
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* border: 6px solid white; */

    /* display: none; */
}

.form div{
    border-radius: 8px;
    box-shadow: 0 7px var(--Shadow);
}

.form-trial {
    /* height: 4rem; */
    background-color: var(--Blue);
    padding: 20px;
    color: white;
    text-align: center;
}

.form-fill {
    /* height: 50%; */

    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;

    /* border: 2px solid blue; */
}

.form-fill form{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* gap: 15%; */

    /* border: 3px solid black; */
}

.form-fill input{
    min-height: 0;
    padding: 5%;
    border: 1px solid var(--Grayish-Blue);
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 500;
    -webkit-border-radius: 5px;

    /* position: relative;
    right: 9px; */
    margin-top: 4%;
    
    /* background: url('../public/images/icon-error.svg') 90% center no-repeat; */
}

.form-fill input:not([type="submit"]):focus{
    outline: none !important;
    border: 2px solid var(--Blue);
    
    
}

.form-fill label:not([for="submit"]){
    align-self: end;
    color: var(--Red);
    font-size: 0.8rem;
    margin-top: 1%;
    display: none;

}

.form-fill input[type="submit"]{
    background-color: var(--Green);
    border-color: var(--Green);
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}

.form-fill input[type="submit"]:hover{
    cursor: pointer;
    /* background-color: var(--Green-hover); */
    filter: brightness(115%);
}


.form-fill label[for="submit"]{
    text-align: center;
    color: var(--Grayish-Blue);
    font-size: 12px;
    font-weight: 500;
    margin-top: 1%;

}

.form-fill span{
    color: var(--Red);
    font-weight: 600;
}

/* tablet or mobile */
@media (max-width:768px){
    .bg{
        max-width: 768px;
        flex-direction: column;
        padding: 15% 2% 10% 2%;
        gap: 0;    

    }

    .slogan {
        width: 90%;
        margin-bottom: 8%;
        text-align: center;
    
    }

    .slogan h1 {
        font-size: 1.5rem;
        /* border: 1px solid white; */
    }
    
    .slogan p {
        font-size: 1rem;
        /* border: 1px solid white; */
    }

    .form {
        width: 90%;
        gap: 0;

    }

    .form-trial {
        padding: 8% 20%;
        margin-bottom: 8%;
        
    }

    .form-fill {
        padding: 10%;

    }
    .form-fill form{
        gap: 0;
    }


    .form-fill input{
        padding: 8% 8% 8% 8%;
        margin-top: 5%;
      
    }

    .form-fill input[type="submit"]{
        font-size: 0.9rem;
    }

    .form-fill label{
        font-size: 0.7rem;
        
    }
    
}